<div>
  <h2 id="page-heading" data-cy="TalentTitleHeading">
    <span jhiTranslate="jhipsterGraphqlDgsApp.talentTitle.home.title">Talent Titles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterGraphqlDgsApp.talentTitle.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-talent-title-graphql-dgs"
        [routerLink]="['/talent-title-graphql-dgs/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterGraphqlDgsApp.talentTitle.home.createLabel"> Create a new Talent Title </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="talentTitles?.length === 0">
    <span jhiTranslate="jhipsterGraphqlDgsApp.talentTitle.home.notFound">No talentTitles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="talentTitles && talentTitles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterGraphqlDgsApp.talentTitle.title">Title</span></th>
          <th scope="col"><span jhiTranslate="jhipsterGraphqlDgsApp.talentTitle.talent">Talent</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let talentTitle of talentTitles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/talent-title-graphql-dgs', talentTitle.id, 'view']">{{ talentTitle.id }}</a>
          </td>
          <td>{{ talentTitle.title }}</td>
          <td>
            <div *ngIf="talentTitle.talent">
              <a [routerLink]="['/talent-graphql-dgs', talentTitle.talent?.id, 'view']">{{ talentTitle.talent?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/talent-title-graphql-dgs', talentTitle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/talent-title-graphql-dgs', talentTitle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(talentTitle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
