<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="talentRole">
      <h2 data-cy="talentRoleDetailsHeading"><span jhiTranslate="jhipsterGraphqlDgsApp.talentRole.detail.title">Talent Role</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ talentRole.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterGraphqlDgsApp.talentRole.ord">Ord</span></dt>
        <dd>
          <span>{{ talentRole.ord }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterGraphqlDgsApp.talentRole.role">Role</span></dt>
        <dd>
          <div *ngIf="talentRole.role">
            <a [routerLink]="['/role-graphql-dgs', talentRole.role?.id, 'view']">{{ talentRole.role?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterGraphqlDgsApp.talentRole.talent">Talent</span></dt>
        <dd>
          <div *ngIf="talentRole.talent">
            <a [routerLink]="['/talent-graphql-dgs', talentRole.talent?.id, 'view']">{{ talentRole.talent?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/talent-role-graphql-dgs', talentRole.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
